# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check repository
        uses: actions/checkout@v5

      - name: Set up workspace
        uses: ./.github/actions/setup-workspace

      - name: Check test coverage
        run: |
          just pytest -x

  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main'}}
    needs: build
    environment: production
    steps:
      - name: Deploy to Render
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        run: |
          curl -s ${{ secrets.RENDER_DEPLOY_HOOK }} \
            -X POST \
            -H "Authorization: Bearer ${RENDER_API_KEY}"
